/* GLOBAL */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr auto; 
    gap: 20px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* HEADER */

header {
    grid-column: 1 / 4;
    justify-self: center;
    padding: 15px;
}

.logo img {
    height: 125px;
}

/* NAVIGATION */

nav {
    grid-column: 1 / 4;
    background-color: #26877F;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
}

nav a:hover {
    color:#b55d34;
    cursor: pointer;
}

/* MAIN */

main {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.promo {
    grid-column: 1 / 4;
    background-image: url(./img/promo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
}

 .offer h2 {
    color: #FFF;
    font-style: italic;
    font-size: 2rem;
}

button {
    background-color: #26877F;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    font-size: 1.25rem;
}

button:hover {
    color: #b55d34;
    cursor: pointer;
}

.example {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example h3 {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
}

.example h3:hover {
    font-size: 1.25rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

.example_one {
    grid-column: 1 / 2;
    border-radius: 10px;
    background-image: url(./img/gardener.jpg);
    background-size: 100%;
    background-position: center;
}

.example_two {
    grid-column: 2 / 3;
    border-radius: 10px;
    background-image: url(./img/customers.jpg);
    background-size: 100%;
    background-position: center;
}

.example_three {
    grid-column: 3 / 4;
    border-radius: 10px;
    background-image: url(./img/nursery.jpg);
    background-size: 100%;
    background-position: center;
}

/* FOOTER */

footer {
    grid-column: 1 / 4;
    display: flex;
    gap: 10px;
}

.footer_left, .footer_right {
    background-color: #26877F;
    color: #FFF;
    width: 100%;
    height: auto;
    border-radius: 10px;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_left img {
    height: 75px;
    padding: 10px;
}

